<nav class="navbar navbar-expand-md">
  <div class="container-fluid">

    <a class="navbar-brand navbar-logo" href="#">
      <img src="navbar/logo.png" alt="Logo Certificado - Navbar">
    </a>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Alternar navegação">

      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">

      <ul class="navbar-nav">
        <li class="nav-item d-flex align-items-center">
          <i class="ph ph-medal bg-icon"></i>
          <a class="nav-link active" href="#">Lista de Certificados</a>
        </li>
        <li class="nav-item d-flex align-items-center ms-md-3">
          <i class="ph ph-circles-three-plus"></i>
          <a class="nav-link" href="#">Gerar Certificado</a>
        </li>
      </ul>

    </div>

  </div>
</nav>
