<section class="d-flex flex-column align-items-center">

  <div routerLink="/" class="d-flex justify-content-between align-items-center menu-certificado w-100">
    <div class="d-flex align-items-center btn-voltar">
      <i class="ph ph-arrow-left"></i>
      <p class="m-0">Voltar</p>
    </div>

    <app-secondary-button></app-secondary-button>
  </div>

  <div class="certificado d-flex justify-content-center align-items-center">
    <img class="icone-medalha" src="certificate/certificate_ribbon.png" alt="Ícone Medalha" />
    <div class="conteudo-certificado">
      <img class="assinatura-certificado" src="certificate/certificate_signature.svg" alt="Assinatura certificado" />
      <div class="info-certificado d-flex flex-column align-items-center">

        <div class="titulo-subtitulo-certificado">
          <h1>Certificado de Conclusão</h1>
          <p>Este certificado comprava que</p>
        </div>

        <div class="nome-aluno">
          <p>Ana Silva Lopes</p>
        </div>

        <div class="lista-atividades">
          <p class="lista-atividades-titulo">Concluiu com sucesso as seguintes atividades:</p>
          <p class="lista-descricao-atividades">Introdução ao Angular, Configuração com Angular CLI, Criação de componentes reutilizáveis, Manipulação de dados, Implementação de data binding, Criação de rotas com Angular Router, Consumo de APIs REST</p>
        </div>
        
      </div>

      <p class="data-emissao fw-bold">Emitido em 21/07/2026</p>
    </div>
  </div>

</section>